################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/SQLWMS/.vs
/SQLWMS/SQLWMS/bin/Debug/net10.0-windows
/SQLWMS/SQLWMS/obj
